@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wdth,wght@75..125,200..700&family=Mozilla+Text:wght@200..700&display=swap');
:root {
    --nav-height: 4rem;

    --white: #fff;
    --grey: #e8e8e8;
    --black: #000;
    --light: #f9f9fb;
    --deep-purple: #210340;
    --purple: #3a0f6e;
    --light-purple: #7543e3;
    --soft-purple: #f1e7f8;
    --gradient-purple: linear-gradient(to bottom, var(--deep-purple) 0%, var(--purple) 100%);
    --gold: linear-gradient(180deg,#ffeb49 0.09%,#f60 120%);

    --debug: 0px solid;
}

html {
    min-height: 100%;
}

body {
    background: black;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

div.background {
    position: fixed;
    width: 100%;
    height: calc(100% - var(--nav-height));
    padding: 0;
    margin-top: var(--nav-height);
    background: var(--gradient-purple);
    z-index: -99;
}

div.spacer {
    display: flex;
    width: 100%;
    height: 6rem;

    outline: var(--debug) pink;
}


div.column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    margin: 0;
    padding: 0;

    outline: var(--debug) green;
}

div.column.main {
    gap: 7rem;
}

div.column.flex-start {
    align-items: flex-start;
}

div.column.flex-end {
    align-items: flex-end;
}

div.row-mini.flex-start, div.row.flex-start {
    justify-content: flex-start;
}

div.row-mini.top, div.row.top {
    align-items: flex-start;
}

div.row-mini.edge, div.row.edge {
    justify-content: space-between;
}

div.row-mini.flex-end, div.row.flex-end {
    justify-content: flex-end;
}

div.column.wide {
    width: 100%;
}

div.column.stretch {
    align-items: stretch;
}

div.column.footing {
    width: 12rem;
}

div.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;

    padding: 2rem;
    width: min(75%, 85rem);
    gap: 8rem;

    outline: var(--debug) white;
}

div.row-inline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 0.40rem;

    outline: var(--debug) grey;
}

div.row-mini {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 0;
    gap: 1rem;

    outline: var(--debug) white;
}

div.row.footer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: var(--deep-purple);
}

div.spacious {
    gap: 3rem !important;
}

div.compressed {
    gap: 1rem; !important;
}

div.m-compressed {
    gap: 0.5rem !important;
}

div.l-compressed {
    gap: 0.2rem !important;
}

div.v-compressed {
    gap: 0.1rem !important;
}

/***/

div.logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    outline: var(--debug) red;
    height: 2.15rem;
    z-index: 1;
}

div.nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);

    width: 100%;
    background: var(--deep-purple);
    height: var(--nav-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    anchor-name: --nav-bar;

    outline: var(--debug) red;
}

/***/

img {
    outline: var(--debug) cyan;
}

div.logo img {
    height: 2.15rem;
    width: auto;
}

img.supplement {
    height: 35rem;
    width: auto;
}

span.icon-save {
    content: url("./other-icons/download-save-24.3eb9c275b15e.svg");
    height: 1.00rem;
}

span.icon-chevron {
    content: url("./other-icons/chevron-down-16.e2f145363ee8.svg");
    filter: invert(1);
    height: 0.80rem;
}

img.icon-picto {
    height: 4rem;
}

img.icon-globe, img.icon-drop {
    height: 1rem;
    filter: invert(1);
}

img.icon-globe {
    position: absolute;
    position-anchor: --sel-container;
    position-area: left;
    left: 0.50rem;
}

img.icon-drop {
    position: absolute;
    position-anchor: --sel-container;
    position-area: right;
    right: 0.50rem;
}

button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 0.60rem;
    padding: 0 1rem;

    height: 3rem;

    background: var(--gold);
    border-radius: 0.50rem;

    color: var(--black);
    font-size: 1.30rem;
    font-weight: 400;

    border: none;
    outline: none;
}

button.hollow {
    background: none;
    border: 1px solid var(--soft-purple);
    color: var(--soft-purple);
    box-shadow: 0 0 1rem var(--light-purple);
}

button.bright {
    background: var(--soft-purple);
    border: none;
    box-shadow: 0 0 1rem var(--light-purple);
    color: var(--deep-purple);
    height: 2.50rem;
    font-size: 1.15rem;
}

button:hover {
    cursor: pointer;
}

input {
    display: flex;

    padding: 0 1rem;

    height: 2.50rem;
    flex: 1;

    border-radius: 0.50rem;

    font-size: 1.15rem;
    font-weight: 400;

    outline: none;

    background: var(--soft-purple);
    border: none;
    color: var(--black);
    box-shadow: 0 0 1rem var(--light-purple);
}

select#language-selector {
    display: flex;

    padding: 0 0 0 2rem;

    height: 2.50rem;
    width: 100%;

    font-size: 1.15rem;
    font-weight: 400;

    outline: none;
    border: none;

    background: none;
    outline: var(--debug) red;
    color: var(--soft-purple);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

div.select-container {
    position: relative;
    justify-content: flex-start;

    anchor-name: --sel-container;

    margin: 0 0 0.50rem;
    padding: 0;
    width: 100%;

    min-height: 2.50rem;
    flex: 1;

    gap: 0.50rem;

    border-radius: 0.50rem;

    background: none;
    border: 1px solid var(--soft-purple);
    color: var(--soft-purple);
}

/***/

.mz-text {
    font-family: "Mozilla Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.mz-headline {
    font-family: "Mozilla Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "wdth" 80;


}

h1,h2,h3,a,p {
    margin: 0;
}

.end {
    text-align: right;
}

.center {
    text-align: center;
}

h1 {
    font-size: 5.20rem;
    line-height: 5.80rem;
    color: var(--white);
}

h2 {
    font-size: 3.60rem;
    line-height: 4.80rem;
    color: var(--white);
}

h3 {
    font-size: 2.00rem;
    line-height: 2.60rem;
    color: var(--white);
}

ul {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

p, li {
    font-size: 1.35rem;
    line-height: 2.10rem;
    color: var(--grey);
}

p.mini, li.mini {
    font-size: 1.10rem;
    line-height: 1.60rem;
}

p.s-mini, li.s-mini {
    font-size: 0.90rem;
    line-height: 1.40rem;
}

.nav-bar p {
    font-size: 1.15rem;
    line-height: 2.50rem;
}

.narrow {
    width: 80%;
}

a {
    text-decoration: none;
    color: var(--white);
}

.highlight {
    /*color: var(--light-purple);*/
    /*animation: 1s glow ease-in-out infinite;*/
}

@keyframes glow {
    0% {color: var(--light-purple)}
    50% {color: var(--soft-purple)}
    100% {color: var(--light-purple)}
}

div.column.compressed p, div.column.l-compressed label {
    font-size: 1.05rem;
    line-height: 1.80rem;
}

a.underlined {
    text-decoration: underline;
    color: var(--soft-purple);
}

label {
    color: var(--grey);
}

label.invis {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}